.expand-container {
  margin: 20px 20px 0px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.expand-content {
  background-color: #202F4D;
}

.expand-header-container {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 20px;
}

.expand-label {
  font-size: 14px;
  font-weight: bold;
}

.label-and-arrow-container {
  background-color: #202F4D;
  cursor: pointer;
  display: flex;
  gap: 10px;
  padding: 10px;
}
