.digit {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
}

.number-container {
  display: flex;
  justify-content: center;
  min-width: 20px;
  padding: 5px;
  text-shadow: -1px 0px #000000;
}
