.column-container {
  color: #ADD8E6;
  display: flex;
  flex: 1;
}

.header-container {
  background-color: #202F4D;
  color: #FFFFFF;
  display: flex;
  font-size: 14px;
  padding: 5px 10px;
}

.label {
  font-weight: bold;
}

.label-container {
  display: flex;
}

.resource-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.row-container {
  align-items: center;
  display: flex;
  font-size: 14px;
  padding: 5px 10px;
}

.table-container {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  overflow: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  margin-left: 2px;
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background-color: #202F4D;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #486389;
}
